<!DOCTYPE html>
<html>

<head>
    <title>About Our Café</title>
</head>

<body>
    <header>
        <h1>Bienvenido a CAFE D'LUX</h1>
    </header>
    <section>
        <h2>Sobre Nosotros</h2>
        <div class="contenedor-circular">
            <p class="mi-parráfo1">Con pasión por el café y un deseo compartido de crear un lugar donde la comunidad
                pueda disfrutar de las mejores mezclas y experiencias cafeteras, Andrea Sotelo, Gonzalo Ruvalcaba, Luis
                Alvizo, Víctor Prado y Ángel Flores unieron sus talentos y visión para fundar una empresa de tienda de
                café. Su compromiso con la calidad, la sostenibilidad y la atención al cliente ha llevado a la creación
                de un espacio acogedor donde los amantes del café pueden deleitarse con sabores únicos, aprender sobre
                el arte del café y conectarse con una comunidad apasionada por esta bebida. Su sueño es convertirse en
                el lugar de referencia para los amantes del café en la ciudad, ofreciendo no solo una taza excepcional,
                sino una experiencia inolvidable en cada visita.</p>
        </div>
    </section>
    <br>
    <br>
    <div class="flex-container">
        <table id="table1" background="assets/images/Fondo.png">
            <tr>

                <td id="td2">
                    <b class="mi-parráfo2">
                        Somos una empresa
                        <br>
                        100% aguascalentense
                    </b>
                    <hr>
                </td>
                <td rowspan="3">
                    <img src="assets/images/logo.png" alt="La Huerta MX" width="300px" height="300px" margin="20px">
                </td>
            </tr>
            <tr>
                <td>
                    <p class="mi-parráfo3">
                        Somos una empresa orgullosamente mexicana con calidad mundial que ha integrado desde sus inicios
                        la perfecta armonía entre la pasión por el café y el respeto por los recursos naturales y las
                        comunidades cafetaleras. Actualmente, contamos con un equipo apasionado de más de 1,900 amantes
                        del café.
                        <br><br>
                        En 'CAFE D'LUX', ofrecemos deliciosas experiencias de café que trascienden fronteras.
                        Gracias a la calidad excepcional de nuestros granos y a nuestra dedicación, hemos sido
                        reconocidos
                        en diferentes Estados de todo México.
                    </p>
                    <br><br>
                    <button class="btn btn1"> Mas sobre nosotros ></button>
                </td>
            </tr>
        </table>
    </div>
    <br><br>
    <header id="Noticias" class="headerNoti">APRENDE</header>
    <section class="section2" style="position: relative;  background-image: url(assets/images/Sembradio.jpg);">
        <article id="articulo-1">
            <img class="imgNoti" src="assets/images/ImportanciaCafe.jpg">
            <h1>LA IMPORTANCIA DEL CAFE</h1>
            <p id="t3">
                El cultivo, procesamiento, comercio, transporte y comercialización del café proporciona empleo a
                millones de personas en todo el mundo. El café tiene una importancia crucial para la economía y la
                política de muchos países en desarrollo.
                <br>
            </p>
        </article>

        <article id="articulo-2"> <!----->
            <img class="imgNoti" src="assets/images/SembrandoCafe.jpg">
            <h1>SEMBRANDO EL CAMBIO, COSECHANDO EL FUTURO</h1>
            <p id="t3">
                El plantón de cafeto tarda entre 2 y 4 años en crecer y dar sus primeros frutos. Entre la floración y la
                cosecha de café pasan entre 6 y 11 meses, según el clima y las precipitaciones.
                <br><br><br>
            </p>
        </article>

        <article id="articulo-3">
            <img class="imgNoti" src="assets/images/BeneficioCafe.jpg">
            <h1>BENEFICIOS DEl CAFE</h1>
            <p id="t3">
                El café es rico en antioxidantes y otros compuestos y minerales como el magnesio, que tienen beneficios
                comprobados para la salud. Es de sobra conocido que contiene cafeína, que ayuda a mantener la energía y
                la concentración, además de aportar muchos más beneficios.
                <br><br><br>
            </p>
        </article>
    </section>
    <footer>
        <p class="mi-parráfoFooter">&copy; 2023 CAFE D'LUX. Reservados todos los derechos</p>
    </footer>
</body>

</html>